include README
include agpl-license.txt
include COEserver.wsgi
include deps.yaml
include fabfile.py
include site.yaml
include roles/dev.yaml
include roles/production.yaml
include roles/staging.yaml
include flaskconfig/development.cfg
include flaskconfig/production.cfg
include flaskconfig/testing.cfg